.header{
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: blue;
    h2{
        background-color: orange;
        border-radius: 10px;
        border: 2px solid green;
        padding: 7px 20px;
    }
    .usd{
        margin-right: 50px;
    }
}